@model LHOfficeBgo.ViewModel.Content.IndexImgsEntityVMs.IndexImgsEntityListVM

<wt:searchpanel vm="@Model" reset-btn="true">
<wt:row items-per-row="ItemsPerRowEnum.Three">
</wt:row>
</wt:searchpanel>
<wt:grid vm="@Model" />
<script>
    

    var LhIndexImgs = {
        deleteImg: function (obj) {
            $(obj).closest(".layui-row ").remove();
        },
        initUploadObj: function(id) {

            var index = 0;

            //普通图片上传
            var uploadInst = layui.upload.render({
                elem: '#'+id
                , url: '/_Framework/UploadImage?1=1&_DONOT_USE_CS=default&saveInDb=false'
                , size: 0
                , accept: 'file'
                , exts: 'jpg|jpeg|gif|bmp|png|tif'
                , before: function (obj) {
                    index = layui.layer.load(2);
                }
                , done: function (res) {
                    layui.layer.close(index);
                    if (res.Data.Id == '') {

                        layui.layer.msg('上传失败');
                    }
                    else {
                        var imgId = this.item[0].id.replace("EntityImgsUploadButton", "EntityImgsDetail");
                        var inputId = this.item[0].id.replace("EntityImgsUploadButton", "EntityImgs");
                        $("#" + inputId).val(res.Data.Url);
                        $("#" + imgId).attr("src", res.Data.Url);
                    }
                }
                , error: function () {
                    layui.layer.close(index);
                }
            });
        },
        init: function () {
            $("#btnAddImgSection").on("click",
                function () {
                    var dateStr = Date.now().toString();
                    var uploadButtonId = "EntityImgsUploadButton" + dateStr;
                    var node =
                        "<div class=\"layui-row\"><div class=\"layui-col-md7\"><div class=\"layui-form-item\"><div class=\"layui-input-block\">"
                        + "<input type=\"text\" name=\"Entity.Imgs" + dateStr + "\" value=\"\" placeholder=\"\" class=\"layui-input\" id=\"EntityImgs" + dateStr +"\" lay-verify=\"required\" lay-filter=\"Entity.Imgsfilter\">"
                        +"</div> </div></div><div class=\"layui-col-md1\"><div class=\"layui-form-item\"><div class=\"layui-input-block\" style=\"margin-left:0px\">"
                        +"<image id=\"EntityImgsDetail"+dateStr+"\" src=\"\" width=\"64\" height=\"64\" /></div></div></div><div class=\"layui-col-md2\"><div class=\"layui-form-item\"><div class=\"layui-input-block\" style=\"margin-left:0px\">"
                        + "<button id=\"" + uploadButtonId+"\" name=\"Entity.ImgsUploadButton\" class=\"layui-btn layui-btn-sm\" type=\"button\" lay-filter=\"IndexImgsEntityVM_Entity_Imgsbuttonfilter\">选择文件</button>"
                        +"<input class=\"layui-upload-file\" type=\"file\" accept=\"\" name=\"file\"></div>"
                        +"</div></div><div class=\"layui-col-md1\"><div class=\"layui-form-item\"><div class=\"layui-input-block\" style=\"margin-left:0px\">"
                            +"<label onclick=\"Lh.deleteImg(this)\" class=\"layui-btn\">-</label></div></div> </div></div>";


                    $("#imgsSection").append(node);
                    LhIndexImgs.initUploadObj(uploadButtonId);
                });


            var uploadFileButtons = $("#imgsSection button[name='Entity.ImgsUploadButton'").each(function(index,item) {
                LhIndexImgs.initUploadObj(item.id);
            });



        },


    };
</script>
