@model ProjectFastBgo.ViewModel.EmojiMaster.PaintMapEntityVMs.PaintMapEntityVM

<wt:form vm="@Model">
    <wt:row items-per-row="ItemsPerRowEnum.One">
        <wt:display field="Entity.Sort" />
        <wt:display field="Entity.GroupDicEntity.Title" />
        <div class="layui-col-md12">
            <div class="layui-row ">
                <div class="layui-input-block" style="margin-left: 0px">
                    <label class="layui-form-label">表情图:</label>
                    <div class="layui-col-md8">
                        <img src="@Html.Raw(Model.Entity.Img + "?imageMogr2/thumbnail/x148")" width="148" height="128">
                    </div>
                           
                </div>
            </div>
        </div>
    </wt:row>
    <wt:row align=" AlignEnum.Right">
        <wt:closebutton />
    </wt:row>
</wt:form>