@model ProjectFastBgo.ViewModel.TikTokSound.TopHotSoundEntityVMs.TopHotSoundEntityVM

<wt:form vm="@Model">
    <wt:row items-per-row="ItemsPerRowEnum.Two">
        <wt:combobox field="Entity.MenuType" />
        <div class="layui-row ">
            <div class="layui-col-md8">
                <div class="layui-form-item">
                    <label for="TopHotSoundEntityVM_Entity_Img" class="layui-form-label"><font color="red">*</font>歌曲图片</label>
                    <div class="layui-input-block">
                        <input type="text" name="Entity.Img" id="TopHotSoundEntityVM_Entity_Img" value="@Model.Entity.Img" placeholder="" lay-verify="required" class="layui-input"  lay-filter="Entity.Imgfilter">
                    </div>
                </div>

            </div>

            <div class="layui-col-md2">
                <div class="layui-form-item">
                    <div class="layui-input-block" style="margin-left: 0px">
                        <image id="EntityImgDetail" src="@Model.Entity.Img" width="128" height="128" />
                    </div>
                </div>

            </div>
            <div class="layui-col-md2">
                <div class="layui-form-item">
                    <div class="layui-input-block" style="margin-left: 0px">
                        <button id="EntityImgUploadButton" name="Entity.ImgUploadButton"  class="layui-btn layui-btn-sm" type="button" lay-filter="TopHotSoundEntityVM.Entity_Imgbuttonfilter">选择文件</button>
                        <input class="layui-upload-file" type="file" accept="" name="file">
                    </div>
                </div>
            </div>
        </div>
        <wt:textbox field="Entity.Title" />
        <wt:textbox field="Entity.Singer" />
        <wt:textbox field="Entity.Sort" />
    </wt:row>
    <wt:row items-per-row="ItemsPerRowEnum.Two">
        <wt:datetime field="Entity.StartDate" date-time-format-dic="Date"/>
        <wt:datetime field="Entity.EndDate" date-time-format-dic="Date"/>
    </wt:row>
    <wt:row align="AlignEnum.Right">
        <wt:submitbutton />
        <wt:closebutton />
    </wt:row>
</wt:form>
<script>
    $(function () {
        TikTokTopHotSoundIndex.initUploadImgObj("EntityImgUploadButton",441);
    })
</script>